header{
    background-color: #120323;
    color:#97bf04;
    text-align: center;
}
aside{
    background-color: #97bf04;
    margin-bottom: 10px;
    padding: 20px 20px 20px 10px;
    
}
body{
    font-family: sans-serif;
    margin: 0;

}
footer{
    background-color: #d9042d;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

main figure img {
    border: 5px solid #d9042d;
    display: block;
    margin: 0 auto;
}
/*this is the default one for under 1000*/
@media screen and (min-width:769px) and (max-width: 999px) {
    header{
        display: flex;
        align-items: center;
}
figure{
    display: flex;
}
figcaption{
    margin-left: 6%;
}
 main figure img {
    max-width: 300px;
    width: 100%;
    height: auto;
 }


}
/*this is the default one for over 1000*/
@media screen and (min-width:1000px) {
    header{
        display: flex;
        align-items: center;
}
figure{
    display: flex;
}
figcaption{
    margin-left: 6%;
}
 main figure img {
    max-width: 300px;
    width: 100%;
    height: auto;
 }
 aside{
    margin-right: 6%;
 }

 #container {
    display: flex; 
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    flex: auto;
    margin-right: auto; 
}

aside {
    width: 100%; 
}

}