header{
    background-color: #120323;
    color:#97bf04;
    text-align: center;
}
aside{
    background-color: #97bf04;
    margin-bottom: 10px;
    padding: 20px 20px 20px 10px;
    
}
body{
    font-family: sans-serif;
    margin: 0;

}
footer{
    background-color: #d9042d;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

main figure img {
    border: 5px solid #d9042d;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width:769px) {
    header{
        display: flex;
        align-items: center;
}
figure{
    display: flex;
}
figcaption{
    margin-left: 6%;
}

@media screen and (min-width:1000px) {
    
}